*{
    margin : 0;
    font-family :'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.navbar {
    height:90px;
    background-color:white;
    color:black;
    display:flex;
    font-size: 20px;
    padding: 1em;
}
.nav-logo{
    height:70px;
    width:90px;
}
.logo{
    background-image: url("manmode.png");
    background-size: cover;
    height:80px;
    width:100%;
}
header a {
    padding :1em;
    color:black;
    text-decoration: none;
}
header a:hover{
    color:orangered;
}

.nav-search{
    display:flex;
      
}
.search-icon{
    padding:1em;
    padding-right:
}

header i:hover{
    color:grey;
}